@use 'variables' as *;

@mixin typo(
  $size: $font-size-default,
  $weight: $font-weight-normal,
  $family: $font-family-primary,
  $height: $font-height-normal,
  $align: left
) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  line-height: $height;
  text-align: $align;
}

@mixin color($text, $bg) {
  color: $text;
  background: $bg;
}

@mixin transition($property, $timing, $duration) {
  @if ($property == all) {
    transition-property: all;
  } @else if ($property == colors) {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  }

  transition-timing-function: $timing;
  transition-duration: $duration;
}

@mixin mask-image($fade-1, $fade-2) {
  mask-image: linear-gradient(0deg, rgba(white, $fade-1), rgba(white, $fade-2));
  -webkit-mask-image: linear-gradient(0deg, rgba(white, $fade-1), rgba(white, $fade-2));
}

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
  content: "";
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin border($color, $side, $size: $size-border, $style: solid) {
  @if ($side) {
    border-#{$side}: $size $style $color;
  } @else {
    border: $size $style $color;
  }
}

@mixin flex($justify, $align: center, $direction: row, $inline: false, $wrap: no-wrap) {
  display: if($inline, inline-flex, flex);
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin size($size: 100%) {
  width: $size;
  height: $size;
}

@mixin img($fit: contain, $pos: center) {
  object-fit: $fit;
  object-position: $pos;
}

@mixin font-face($font, $weight, $family: $font-family-primary) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    src: local($family), url("../fonts/#{$font}.woff") format("woff");
  }
}

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}
